.app-container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(221, 231, 237);
}

.app-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  min-width: '768px';
  min-height: calc(100vh - 150px);
  box-sizing: border-box;
}